@model ProjectMaintenance.Models.Equipment

@{
    string title = @Model.Name + " Details";
    ViewData["Title"] = title;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6">
                <div class="details-card h-100">
                    <div class="card-header">
                        <div class="card-title"><b>@Html.DisplayFor(model => model.Name)</b></div>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-light list-group-small">
                            <li class="list-group-item px-4"><b>Assigned Maint. Tech:</b> <span>@Html.DisplayFor(model => model.LeadOperator)</span></li>
                            <li class="list-group-item px-4"><b>Vendor:</b> <span>@Html.DisplayFor(model => model.Vendor)</span></li>
                            <li class="list-group-item px-4"><b>Model:</b> <span>@Html.DisplayFor(model => model.Model)</span></li>
                            <li class="list-group-item px-4"><b>SN:</b> <span>@Html.DisplayFor(model => model.SerialNumber)</span></li>
                            <li class="list-group-item px-4"><b>Acquired Date:</b> <span>@Html.DisplayFor(model => model.AcquiredDate)</span></li>
                            <li class="list-group-item px-4"><b>Warrant Exp:</b> <span>@Html.DisplayFor(model => model.WarrantyExpiration)</span></li>
                            <li class="list-group-item px-4"><b>Description:</b> <span class="description-span">@Html.DisplayFor(model => model.Description)</span></li>
                        </ul>
                    </div>
                    <div class="card-footer d-flex">
                        <a asp-action="Edit" asp-route-id="@Model?.Id"><button class="btn btn-secondary satisfy-btn">Edit</button></a>
                        <button onclick="location.href='@Url.Action("Index", "Equipment")'" class="btn btn-secondary return-btn" data-toggle="tooltip" title="Back to List">Back to List</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
